# Project/bin/
# Project/include/
# Project/lib/

Project/ClassProject/__pycache__/*

*.pyc

Project/ClassProject/Server/SpeechToText/AccountView/__pycache__/*


Project/ClassProject/Server/Test/PerformanceTest/2019-*
# Project/man