
    <ul class="breadcrumbs">
      <li><a href="#">Home</a></li>
      
    </ul>
    
  <div class="container-flu">
  <div class="row">
    <div class="col-sm-12">

      
        <div class="profile-people-holder">
          <div class="profile-name">
            <h1>About Us</h1>
            <h3>    This is an academic class project and the main purpose is to apply all the 
              knowledge acquired about software testing in the class during the semester. 
              It is also an experimental app which can be later proposed for commercial purposes.</h3>
              <h3>

            
              </h3>
              
            <h3>    The app will be very useful for students to transcript lectures 
              from audio/video/microphone to text. It can also be very useful for 
              students with some hearing impairments.
            </h3>
            <h2>YELLOW TEAM
              </h2>
              <h3>Cesar </h3>
              <h3>Krupa </h3>
              <h3>Monsur </h3>
              <h3>Michael </h3>
  


          </div>
       
        