<header>
    <ul class="breadcrumbs">
      <li><a href="#">Speech To Text App</a></li>
      
      <li><a href="#">Yellow Team</a></li>
    </ul>
    
  </header>
  
  <div class="content">
    
    <div class="caption">
      <h1>The</h1>
      <h1>Transcript</h1>
      <h1>Dashboard</h1>
      
    </div>
    
    <nav class="main-nav">
      <ul>
     
        
        
        <li class="gallery active">
          <div class="menuicon fa fa-bars"></div>
          <div class="ul-menu">
            <p>Video Transcript</p>
              <ul>
                <li>Start Your Transcript Using a Video File</li>
               
              </ul>
             
              <button>Start</button>
            <div class="ul-menu-close fa fa-times"></div>
          </div>
          <div class="icon fa fa-film fa-2x"></div>
          <span>Video Transcript</span>
        </li>
        
        
        <li class="history">
          <div class="menuicon fa fa-bars"></div>
          <div class="ul-menu">
            <p>Microphone Transcript</p>
              <ul>
                <li>Start Your Transcript using a Microphone</li>
               
              </ul>
             
              <button>Start</button>
            <div class="ul-menu-close fa fa-times"></div>
          </div>
          <div class="icon fa fa-microphone fa-2x"></div>
          <span>Microphone Transcript</span>
        </li>
        
        
        <li class="likes">
          <div class="menuicon fa fa-bars"></div>
          <div class="ul-menu">
            <p>Audio Transcript</p>
              <ul>
                <li>Start Your Transcript using an Audio File </li>
                
              </ul>
              <button>Start</button>
            <div class="ul-menu-close fa fa-times"></div>
          </div>
          <div class="icon fa fa-file-audio-o fa-2x"></div>
          <span>Audio Transcript</span>
        </li>
       
      </ul>    
    </nav>
  </div>