
  

<div class="caption">
      <h1>The Transcript Dashboard</h1>
</div>
    
<div class="ul-menu">
    <h2 style="text-align:left;"><b>Video Transcript</b></h2>
 
      <ul>
        <li>Start Your Transcript using a Video</li>
       
      </ul>
     
      <button>Start</button>
    <div class="ul-menu-close fa fa-times"></div>
  </div>
  



        
        
       
<div class="ul-menu">
    <h2 style="text-align:left;"><b>Microphone Transcript</b></h2>
          
              <ul>
                <li>Start Your Transcript using a Microphone</li>
               
              </ul>
             
              <button>Start</button>
            <div class="ul-menu-close fa fa-times"></div>
 </div>
      
 
   
 
 <div class="ul-menu">
    <h2 style="text-align:left;"><b>Audio Transcript</b></h2>
      
    
      <ul>
        <li>Start Your Transcript using an Audio</li>
       
      </ul>
     
      <button>Start</button>
    <div class="ul-menu-close fa fa-times"></div>
</div>
        
        
    
    