<div class="form-group clearfix">
  <h1>Dashboard</p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Comment</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in Files">
        <td>{{file.Name}}</td>
        <td>{{file.Comment}}</td>
        <td>{{file.Type}}</td>
        <td><button class="btn-btn-primary" ng-click="edit(file)"> Edit </button></td>
      </tr>
    </tbody>

  </table>
</div>