<span class="bckg"></span>
<header>
  <h1>Home</h1>
  <nav>
    <ul>
      <li>
        <!-- <a href="javascript:void(0);" data-title=>Transcript</a> -->
        <a ng-click="vm.transcript()" data-title=>Transcript</a>
      </li>
      <li>
        <a ng-click="vm.profile()" data-title=>Manage Profile</a>
      </li>
     
      <li>
        <a ng-click="vm.about()" data-title=>About</a>
      </li>
     
    </ul>
  </nav>
</header>
<main>
  <div class="title">
    <h2>Transcripts</h2>
    
  </div>

  <article class="larg">
    <div>
      
    </div>
  </article>
</main>