

<div class="profile-name">
    <h1>Manage Profile</h1>
    <p>Update your profile and email and password</p>
</div>


     
<div class="col-sm-12 control-label">
    <label for="profile_name"> Change First Name</label>
</div>


<div class="col-sm-12">
    <input type=name class="form-control" id="profile_name" name="Change name" placeholder="Enter first name to update it"  ng-model="first_name">
</div>


<div class="col-sm-12">
    <input type="name" class="form-control" id="profile_name_confirm" name="Confirm name" placeholder="Re-enter first name to confirm" ng-model="first_name_confirm">
</div>


    
<div class="col-sm-12 control-label">                 
    <label for="profile_name"> Change Last Name</label>
</div>


<div class="col-sm-12">
    <input type="name" class="form-control" id="profile_name" name="Change name" placeholder="Enter last name to update it" ng-model="last_name">
</div>



<div class="col-sm-12">
    <input type="name" class="form-control" id="profile_name_confirm" name="Confirm name" placeholder="Re-enter last name to confirm" ng-model="last_name_confirm">
</div>


 
<div class="col-sm-12 control-label">               
    <label for="profile_email"> Change Email</label>
</div>


<div class="col-sm-12">
    <input type="email" class="form-control" id="profile_email" name="Change email" placeholder="Enter email to update it" ng-model="email">
</div>



<div class="col-sm-12">
    <input type="email" class="form-control" id="profile_email_confirm" name="Confirm email" placeholder="Re-enter email to confirm" ng-model="email_confirm">
</div>

<div class="form-btns clearfix">
    <button class="btn btn-primary" ng-click="EditInfo()">Save changes</button>
    <span ng-show='name_Error == true'>Names do not match</span>
    <span ng-show='last_name_Error == true'>Last name do not match</span>
    <span ng-show='email_Error == true'>Email do not match</span>
</div>



     
<div class="col-sm-12 control-label">                
    <label for="profile_password">Change password</label>
</div>

<div class="col-sm-12">
    <input type="password" class="form-control" id="profile_password" name="Change password" placeholder="Enter current password" ng-model="Password">
</div>

<div class="col-sm-12">
    <input type="password" class="form-control" id="profile_new_password" name="Change password" placeholder="Enter password to update it" ng-model="newPassword">
</div>



<div class="col-sm-12">
    <input type="password" class="form-control" id="profile_new_password_confirm" name="Confirm password" placeholder="Re-enter password to confirm" ng-model="confirmPassword">
</div>
</div>
</form>
         
        
<div class="form-btns clearfix">
    <button class="btn btn-primary" ng-click="EditPassword()">Save changes</button>
    <span ng-show='passwordError == true'>Please make sure the passwords match</span>
</div>
  
  